*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
}

#main{
 height: 100%;
 width: 100%;
 /* background-color: rgb(250, 215, 225); */
background-image: url(https://images.unsplash.com/photo-1761839259112-aaea03db3633?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
background-position: center;
text-align: center;
padding-top: 80px;

}

h2{
    color:green;
    padding-bottom: 20px;
    font-family: mahi;
}

button{
    padding: 10px;
    border: 2px,solid,green;
    background-color: greenyellow;
    font-family: mahi;
    border-radius: 50px;
}
@font-face {
    font-family: mahi;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}