*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
}

#top{
    background-color: blue;
    height: 20%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.h{
    margin-bottom: 10px;
    color: white;
}
#aboutme{
    text-align: center;
    margin-top: 50px;
}
p{
    margin-top: 20px;
}

#education{
    background-color: skyblue;
    margin: 30px;
    padding: 10px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.eduInner{
    background-color: white;
    width: 50;
    /* height: 30px; */
    
}
#skill{
    background-color: rgb(255, 149, 0);
    text-align: center;
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
}
.skillInner{
    background-color: white;

}
