*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: mahi;
    src: url(./funky-snow-demo.regular.ttf);
}
#main{
     height: 100vh;
     /* width: 100%; */
    background-image: url(https://images.unsplash.com/photo-1544894079-e81a9eb1da8b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZyZWUlMjBpbWFnZXN8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 text-align: center;
 padding: 10%;
}
h2{
    color: white;
    margin-bottom: 20px;
    font-family: mahi;
}
button{
    padding: 10px;
    border: 3px,solid,black;
    border-radius: 5px;
    background-color: #4A2519;
    color: white;
    border-radius: 50px;
}
button:hover{
    background-color: darkorange;
    transform: scale(1.05);
    cursor: pointer;
}