*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

li a{
    color: black;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

#navbar ul{
    display: flex;
     list-style: none;
     gap: 20px;
}
#navbar{
    padding-left: 20px;
    padding-top: 10px;
}
ul>h3{
    margin-left: 30%;
    text-align: center;
}
#head{
    margin-left: 20%;
    margin-top: 5%;
    font-size: 250px
}
#left{
    position:absolute;
    padding-left: 20px;
    padding-top: 10px;
    bottom: 50px;
}
#left h3{
   margin-bottom: 10px;
}
#left p {
  margin-bottom: 10px;
}
#btmbar{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 10px;
   justify-content: space-between;
}
#first{
    position: absolute;
    height: 150px;
    width: 200px;
    left: 700px;
}
#second{
    position: absolute;
    height: 200px;
    top: 350px;
    right: 250px;
}
#third{
    height: 150px;
    position: absolute;
    top: 250px;
    right: 150px;
}

