*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    /* align-item-> handle in y axis */
    /* align-items: center;  */
    /* justify-content-> aloong x axis */
    /* justify-content: right; */
    justify-content: space-between;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: red;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: green;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* remixicon.com -> icon k liye  */
h1{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#center{
     height: 80%;
    width: 100%;
    background-image:url(https://amateurphotographer.com/wp-content/uploads/sites/7/2025/10/iPhone17Pro_vs_iPhone16Pro_AmyDavies_01.jpg?w=900);
    background-size: cover;
    background-position: center;
      background-size: 40% 40%;
      background-repeat: no-repeat;

    text-align: center;
    margin-top: 30px;
    
}
#center h1{
   
    display: flex;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: 100;
    justify-content: center;
}
#center h4{
    font-size: 20px;
}

#center button{
    margin-top: 20px;
    padding: 10px;
    gap: 20px;
}
button{
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: blue;
}