*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
}
#card{
    height: 300px;
    width: 250px;
    background-color: white;
    position: absolute;
    left: 30px;
    top: 30px;
    box-shadow: 10px 20px 25px black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 10px;
}
#card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#card h2{
    font-weight:500 ;
    font-size: 26px;
}
#card button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color:rgb(18, 44, 164) ;
    color: white;
    border: none;
    cursor: pointer;
}

#card p{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
}
#card button:hover{
    background-color: red;
    border: 2px solid white;
}
#card:hover{
    box-shadow: 5px 10px 15px black;
}
#card h2:hover{
    font-size: 40px;
}