*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'helvetica neue'; */
}
html ,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 200px;
}
#box{
    height: 200px;
    width: 299px;
    background-image: url(https://images.unsplash.com/photo-1720884413532-59289875c3e1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    transform: rotateX(120deg);
    /* transform: scale(2); */
}