*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;

}

#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    display:block;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
}
/* display: inline-block CSS me ek property hai jo inline aur block dono ka mix hoti hai.
inline-block kya karta hai?
Elements ek hi line me aa jate hain (inline jaisa)
Width, height, margin, padding set kar sakte ho (block jaisa) */
a{
    background-color: aqua;
    height: 30px;
    width: 50px;
    display: inline-block;
}