*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html ,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    grid-template-rows: 20% 80% 20% ;

}
.box{
    background-color: crimson;
    border: 5px solid white;
}
h1{
    font-size: 100px;
    color: transparent;
    background-image: url(https://plus.unsplash.com/premium_photo-1747851576628-02ab6241dff3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzNHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-clip: text;
    text-align: center;
    -webkit-text-stroke: 2px red;
}