*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html ,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    grid-template-rows: 20% 80% 20% ;

}
.box{
    background-color: crimson;
    border: 5px solid white;
}
h1{
    font-size: 100px;
    color: transparent;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY29semVsbTh2azgxdjRtdXlhcDcxdW1zdmdiNHhzcno2bG1qdmFzeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/nGEO47ShV3Us0/giphy.gif);
    background-size: cover;
    background-clip: text;
    text-align: center;
    -webkit-text-stroke: 2px red;
}