*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html ,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: "header header header"
                          "section section section"
                          "div1 div2 div3"
    ;
    grid-gap: 5px ;
}
header{
    background-color: red;
    color: black;
    grid-area: header;
}
section{
    background-color: green;
    color: black;
    grid-area: section;
}
#div1{
    background-color: blue;
    color: black;
    grid-area: div1;
}
#div2{
    background-color: crimson;
    color: black;
    grid-area: div2;
}
#div3{
    background-color: yellow;
    color: black;
    grid-area: div3;
}