*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html ,body{
    height: 100%;
    width: 100%;

}

main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: grid;
    grid-template-columns:250px 1fr 250px ;
    grid-template-rows:50px 120px 90px 1fr 70px  ;

    grid-template-areas: "one two three"
                         "fourth five five"
                         "section1 section1 section1"
                         " section2 section2 section2"
                         "footer footer footer"
     ;
}

#one{
    background-color: white;
    grid-area: one;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2px; */
   
   
}
#two{
    background-color: white;
    grid-area: two;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 30px;
}

#two a{
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: 100px;
    text-decoration: none;

}
#three{
    background-color:white;
    grid-area: three;
    padding-left: 50px;
    padding-top: 10px;
    gap: 10px;

}
#button1{
  margin-right: 2px;
  color: blue;
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}
#button2{
    padding: 5px;
    background-color: blue;
    border-radius: 50px;
}
#fourth{
    background-color: white;
    grid-area: fourth;
    text-align: center;
    padding-top: 20px;
}
#five{
    background-color: white;
    grid-area: five;
    /* text-align: center; */
    padding-top: 30px;
    padding-left: 10px;
}
#section1{
    background-color: white;
    grid-area: section1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50%;

}
#section1 #button1{
    margin: 45px;
}
#section1 #button2{
    margin-left: -10px;
}
#section2{
    background-color: white;
    grid-area: section2;
    /* padding: 50px 0px 50px 0px; */
    padding: 20px 30px;

}
#section2 > div{
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1526779259212-939e64788e3c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
footer{
  background-color: white;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
footer .div1{
    padding: 10px 130px;
}