*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}

body{
    padding: 10px;
    display: flex;
    gap: 20px;
}
#inc{
    padding: 8px;
    font-size: 20px;
    border-radius: 20px;
    background-color: crimson;
    color: chartreuse;
}
#dec{
    padding: 8px;
     font-size: 20px;
    border-radius: 20px;
    background-color: crimson;
    color: chartreuse;
}
