h3{
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;

}
button{
    display: block;
    margin: 0 auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}