h3{
    color: rgb(255, 0, 183);
    text-align: center;
    font-family: Arial, sans-serif;

}
button{
    display: block;
    margin: 0 auto;
    background-color: rgb(128, 0, 85);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}