*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;

}
#card{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    /* overflow: hidden; */
    position: relative;
}
#storiyan{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    border-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.071);
  
   white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    height: 80px;
    width: 80px;
    /* background-color: aquamarine; */
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
     display: inline-block;
}
.story img{
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}