*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: lightseagreen;
}
#inner1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: royalblue;
}
#inner2{
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    background-color:crimson;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}