*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.p{
    position: absolute;
    left: 48%;
    top: 38%;
}
main h1{
    text-align: center;
    height: 100px;
    width: 30px;
    border: 2px solid black;
    margin: 1px;
    font-size: 20px;
    font-weight: 30px;
    background: linear-gradient(90deg, #ff512f, #dd2476, #1fa2ff);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}
main h1:active{
      transform: scale(1.2);
      /* border-radius: 10px; */
}