*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    height:100%;
    width:100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(210, 210, 210);
}
body{
    background-color: black;
}
@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
    width: 100%;
   @include flex-column(0rem);


    section{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .bottom{
            background-color: rgb(46, 46, 46);
            padding: 1rem;
            @include flex-column(2.5rem);
            border-radius: 10px;

            .text{
                @include flex-column(0.7rem);

                h1{
                    font-weight: 200;
                    font-size:2.8rem ;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: .7rem 1rem;
                    border-radius: .7rem;
                }
            }
        }
    }
}
