*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body{
    height:100%;
    width:100%;
}
.red{
    height: 200px;
    width: 200px;
    // width: 50vw;
    // height: 10vh;
    background-color: red;

    #blue{
        height: 50px;
        width: 100%;
         background-color: blue;
    }

}

html{
    /* default font size
    font-size:16px
    */
    // font-size: 1vw;
    /*clamp(min, preferred, max)
*/
    font-size: clamp(14px ,1vw,18px);
}
h1{
    font-size: 4rem;
}