*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
}
.card{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.card img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.card h1{
    
    margin: 20px ;
    font-size: 30px;
    font-weight: 600;
}
.card h5{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    opacity: 1.5;
}
.card #add{
   padding: 10px;
   border-radius: 20px;
   border: none;
   background-color: lightseagreen;
  
   color: black;
   font-size: 20px;
   font-weight: 500;
  
} 
.card #remove{
   padding: 10px;
   border-radius: 20px;
   border: none;
    background-color: pink;
   color: black;
   font-size: 20px;
   font-weight: 500;
    margin-right: 20px;
} 
#remove:active{
     transform: scale(0.95);
}
#add:active{
     transform: scale(0.95);
}
