*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    height: 500px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: cover;
}
#container i{
    position: absolute;
    left: 50%;
    top: 50%;
    /* background-color: brown; */
    color: white;
    font-size: 50px;
    transform: translate(-50%,-50%) scale(.3);
    opacity: 0;
    transition: transform ease .4s;
}