*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cursor{
    height: 20px;
    width: 20px;
    background-color: red;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
h1{
    font-size: 9vw;
    font-weight: 900;
}