*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
#box{
    height: 300px;
    width: 300px;
    background-color: aqua;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}
button{
    padding: 10px 20px ;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;

}