*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: brown;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
}