*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
 /*
body{
    background-color: black;
    cursor: none;
}
#main{
    height: 200%;
    width: 100%;

}
#cursor{
    height: 30px;
    position: fixed;
    transform: translate(-50%,-50%);
   
} */


body{
    height: 100vh;
    width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
h1{
    height: 80px;
    width: 200px;
    border-radius: 10px;
     background-color: aqua;
    padding:10px 20px;
    font-size: 30px;
    color: black;
}