*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#one{
    height: 50px;
    width: 100px;
    background-color: white;
    text-align: center;
}
#one h2{
    font-size: 20px;
    color: black;
}
#two{
    height: 50px;
    width: 100px;
    background-color: white;
    text-align: center;
}
#two h2{
    font-size: 20px;
    color: black;
}
#three{
    height: 50px;
    width: 100px;
    background-color: white;
    text-align: center;
}
#three h2{
    font-size: 20px;
    color: black;
}

