*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    height: 100%;
    width: 100%;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400px;
    cursor: pointer;
    background-color: red;
}