*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#card p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
#card p span{
    font-weight: 700;
    color: royalblue;
}
#card{
    height: 230px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px  ;
}
#outer{
    height: 20px;
    width: 100%;
    background-color: rgb(184,184,184);
    border-radius: 50px;
    
}
#inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: aqua;
  
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
      margin-top: 30px;
}

#bottom h2{
    font-size: 50px;
}
#bottom button{
    padding: 12px 25px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 20px;
}